src/workclasspvt/xml/xsd.xsd

<?xml version="1.0" encoding ="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:complexType name="PointsList">
		<xs:sequence>
			<xs:element name="point" type="Point" minOccurs="0"
				maxOccurs="unbounded">
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="Point">
		<xs:sequence>
			<xs:element name="x" type="xs:integer" />
			<xs:element name="y" type="xs:integer" />
			<xs:element name="unit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="pointsList" type="PointsList"></xs:element>
</xs:schema>
